<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_estate_property_root"
        name="Estate Management">
        <menuitem 
            id="menu_estate_property"
            name="Properties"
            action="action_estate_property"
            sequence="1"
        />
        <menuitem 
            id="menu_estate_property_offer"
            name="Offers"
            action="action_estate_property_offer"
            sequence="2"
        />
        <menuitem
            id="configuration"
            name="Configuration"
            sequence="3"
        >
        <menuitem 
            id="estate_property_tag_menu" 
            name="Property Tags" 
            action="estate_property_tag_action"
            />
        <menuitem 
            id="estate_property_offer_state_menu" 
            name="Offer State" 
            action="action_estate_property_offer_state"
            />
        </menuitem>
    </menuitem>   

</odoo>